/* li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
} */

h1, h2 {
  color: white;
  font-family: 'Montserrat', sans-serif;

 }

/* * {
 color: white;
} */

body{
  background-color: black;
}

#burger-container{

}
#fresh{

}
#devoured{

}
#burger-gif{
  width: 80%;
}

textarea {
  overflow: auto;
  width: 80%;
}

textarea {
    overflow: auto;
}
.btn-light {
  width: 50%;
  margin-top: 30px;
  margin-bottom: 50px;
  /* background-color: #004A7F; */
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
  0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}

@-moz-keyframes glowing {
  0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
}

@-o-keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

@keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

.burger-label{
  padding: 5px;
  margin-bottom: -5px;
  float: left;
}

.burger-div{
  background-color: white;
 margin-top: 25px;
  border-radius: 2px;
  /* font-weight: bold; */
  font-size: 18px;

}


/* .burger-div button{
  float: right;
  margin: 5px;
  
} */

.burger-div button {
  width: 25%;
  margin-top: 10px;
  margin-bottom: 10px;
  /* background-color: #004A7F; */
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 5px;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

.btn-light:hover {
  color: white;
}

.burger-div button:hover {
  color: white;
}

/* a {
  color: hotpink;
} */

/* 
@-webkit-keyframes glowing {
  0% { background-color: rgb(184, 181, 45); -webkit-box-shadow: 0 0 3px rgb(189, 166, 39); }
  50% { background-color: rgb(253, 250, 40); -webkit-box-shadow: 0 0 40px rgb(248, 235, 53); }
  100% { background-color: rgb(253, 251, 97); -webkit-box-shadow: 0 0 3px rgb(255, 252, 91); }
}

@-moz-keyframes glowing {
  0% { background-color: rgb(184, 181, 45); -webkit-box-shadow: 0 0 3px rgb(189, 166, 39); }
  50% { background-color: rgb(253, 250, 40); -webkit-box-shadow: 0 0 40px rgb(248, 235, 53); }
  100% { background-color: rgb(253, 251, 97); -webkit-box-shadow: 0 0 3px rgb(255, 252, 91); }
}

@-o-keyframes glowing {
  0% { background-color: rgb(184, 181, 45); -webkit-box-shadow: 0 0 3px rgb(189, 166, 39); }
  50% { background-color: rgb(253, 250, 40); -webkit-box-shadow: 0 0 40px rgb(248, 235, 53); }
  100% { background-color: rgb(253, 251, 97); -webkit-box-shadow: 0 0 3px rgb(255, 252, 91); }
}

@keyframes glowing {
  0% { background-color: rgb(184, 181, 45); -webkit-box-shadow: 0 0 3px rgb(189, 166, 39); }
  50% { background-color: rgb(253, 250, 40); -webkit-box-shadow: 0 0 40px rgb(248, 235, 53); }
  100% { background-color: rgb(253, 251, 97); -webkit-box-shadow: 0 0 3px rgb(255, 252, 91); }
} */
